.options-page {
    width: 100%;
    margin: 0 auto;
}

/* General Option Styling */
.option {
    padding: 0px;
    padding-bottom: 6px;
    cursor: pointer;
}

.options-page {
    max-width: 700px;
}

.option:hover {
    background-color: rgba(237, 237, 237, 0.498);
    transition: background-color 50ms ease-in-out;
    border-radius: 6px;
}

.option output {
    vertical-align: -0.5px;
    /* Aligns the output element vertically */
    display: inline-block;
    /* Ensures the output element respects the vertical alignment */
    /* Add any additional styling you want for the output */
}

/* Align text with radio buttons and checkboxes */
input[type="radio"],
input[type="checkbox"] {
    margin-left: 0px;
    margin-right: 8px;
}

input[type="range"] {
    margin-left: -1px;
}

/* For labels following a radio button */
input[type="radio"]+label {
    vertical-align: 4%;
    margin-right:10px;
}

/* For labels following a checkbox */
input[type="checkbox"]+label {
    vertical-align: 4%;
    margin-right: 20px;
}

/* Align only the modifiedKey label */
.align-label {
    margin-left: 0px;
    padding-bottom: 6px;
    display: inline-block;
}

.align-label-1 {
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 1px;
    vertical-align: middle;
    padding-bottom: 6px;
    display: inline-block;
}

/* Input and Textarea Styling */
input[type="text"],
input[type="number"],
textarea {
    min-width: 40%;
}

input[type="number"] {
    min-width: 5%;
}

textarea {
    min-width: 500px;
    width: 100%;
    box-sizing: border-box;
    /* Ensure the textarea takes the full width */
    margin-top: 5px;
    padding: 0px;
    font-size: 14px;
    resize: vertical;
    /* Allow vertical resize */
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1c;
        color: #b0b0b0;
    }

    .option {
        color: #b0b0b0;
    }

    .option:hover {
        background-color: #3c3c3c;
    }

    .option output {
        background-color: #2c2c2c;
        color: #b0b0b0;
    }

    input[type="text"],
    input[type="number"],
    textarea {
        background-color: #2c2c2c;
        color: #b0b0b0;
        border: 1px solid #444;
    }

    textarea {
        border: 1px solid #444;
    }
}